.page {
  font-family: sans-serif;
}

.layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.section {
  border: 1px dashed #ccc;
}

.section[data-is-focused="true"] {
  border-color: red;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spatialSection {
  position: relative;
  animation: rotating 10s linear infinite;
  border-radius: 99999px;
  aspect-ratio: 1/1;
}

.spatialSection .item {
  animation: rotating 10s linear infinite reverse;
}

.list[data-type="horizontal"] {
  display: flex;
}

.item[data-is-focused="true"] {
  background: red;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
}
