.openButton {
  appearance: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 4px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 32px;
  background: #fb4570;
  color: white;
  padding: 4px 8px;
  font-family: sans-serif;
  font-weight: 700;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 9999px;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 300px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  background: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  overflow-y: auto;

  font-family: monospace;
  font-size: 12px;
  white-space: nowrap;
}

.sidebar[data-side="right"] {
  right: 0;
}

.sidebar[data-side="left"] {
  left: 0;
}

.sidebarToolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  background: #fb4570;
  padding: 4px 8px;
  color: white;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  white-space: nowrap;
}

.sidebarToolbar[data-variant="alt"] {
  color: black;
  background: #86efac;
}

.title {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 4px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
  padding: 16px;
}

.tree {
  flex-grow: 1;
}

.inspectedNode {
  flex-grow: 1;
}

.inspectedName {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  padding: 8px;
}

.nodeContainer {
  display: none;
  margin-top: 4px;

  margin-left: 8px;
  border-left: 1px solid #ccc;
  padding-left: 8px;
}

.nodeContainer[data-open="true"] {
  display: block;
}

.node {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
}

.node:hover .nodeLabel {
  text-decoration: underline;
}

.node[data-root="false"]::before {
  content: "";

  position: absolute;
  top: 50%;
  left: -8px;
  width: 5px;
  height: 1px;

  background: #ccc;
}

.node[data-focused="true"] .nodeLabel {
  font-weight: 700;
}

.nodeTag {
  display: flex;
  align-items: center;
  gap: 2px;
  background: #eee;
  border: none;
  border-radius: 9999px;
  font-size: 10px;
  line-height: 10px;
  padding: 2px 4px;
}

.nodeTagSuccess {
  background: #86efac;
}

.nodeTagError {
  background: #f87171;
}

.handlerInfo {
  padding: 8px 16px;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.handlerName {
  color: #333;
  font-weight: 700;
}

.handlerProps {
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.infoKey {
  color: #555;
}

.infoValue {
  color: black;
}
